
.scroll-motion {opacity: 0; transform: translateY(100rem); transition-duration: .7s;}
.scroll-motion.active {opacity: 1 !important; transform: translateY(0) !important;}

.main {width: 100%; overflow-x: hidden !important;}
.header {display: flex; justify-content: space-between; width: calc(100% - 36rem); position: absolute; top: 18rem; left: 18rem; z-index: 20;}
.header .year {width: 70rem; height: 23rem; background: url("../images/intro-2026.svg") no-repeat; background-size: contain;}
.header .portfolio {width: 124rem; height: 33rem; background: url("../images/intro-portfolio.svg") no-repeat; background-size: contain;}

.main .intro {width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center;}
.main .intro .txt {font-size: 240rem; line-height: 90%; font-family: "GoogleSansFlex_SemiBold", sans-serif; text-align: center; display: flex; flex-direction: column; align-items: center;}
.main .intro .txt div {overflow: hidden; width: max-content; position: relative;}
.main .intro .txt div p {transform: translateY(300rem); position: relative;}
.main .intro .txt div:last-of-type p {width: 998rem; height: 198rem;}
.main .intro .txt div:last-of-type p span:last-of-type {width: 910rem; height: 198rem; display: block; background: url("../images/intro-obj1.svg") no-repeat; background-size: contain; position: absolute; bottom: 0;}
.main .intro .ellipse-wrap { position: absolute; width: 1840rem; height: 735rem; display: flex; align-items: center; justify-content: center;}
.main .intro .ellipse {width: 100%; height: 100%;}
.main .intro .path {fill: none; stroke: #000; stroke-width: 1; stroke-dasharray: 6000; stroke-dashoffset: 6000;}

.main .about {display: flex; width: 100%; height: 100%; padding: 400rem 0; justify-content: center; align-items: center; gap: 80rem;}
.main .about .txt-pack {width: 820rem;}
.main .about .txt-pack .p1 {width: 87rem;}
.txt-pack .p1 img {width: 100%;}
.main .about .txt-pack .p2 {font-size: 36rem; line-height: 150%; font-family: "Pretendard-SemiBold"; margin-bottom: 35rem; transition-delay: .2s;}
.main .about .txt-pack .p3 {font-size: 24rem; line-height: 160%; font-family: "Pretendard-Medium"; transition-delay: .3s;}
.main .about .img {width: 500rem; aspect-ratio: 1 / 1; background: #000; border-radius: 24rem; transition-delay: .4s; box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.2) 0px 20px 50px -20px; overflow: hidden;}
.main .about .img img {width: 100%; height: 100%; object-fit: cover;}

.main .project {display: flex; gap: 176rem; width: 100%; height: 100vh; overflow: hidden;}
.main .project .list {width: 1018rem; display: grid; grid-template-columns: 1fr 1fr; gap: 80rem 118rem; margin-left: 80rem; padding-top: 100rem;}
.main .project .list li a {width: 450rem; display: flex; flex-direction: column; gap: 20rem;}
.main .project .list li:nth-of-type(even) {transform: translateY(215rem);}
.main .project .list li .img {width: 450rem; height: 450rem; border-radius: 16rem; overflow: hidden; transition-duration: .5s;}
.main .project .list li .img img {width: 100%; height: 100%; object-fit: cover;}
.main .project .list li a:hover .img {transform: translateY(-8rem); box-shadow: 0 30rem 80rem rgba(0, 0, 0, 0.12);}
.main .project .list li .txt {display: flex; flex-direction: column; gap: 6rem;}
.main .project .list li .txt .tit {display: flex; gap: 12rem;}
.main .project .list li .txt .tit dt {font-size: 32rem; line-height: 150%; font-family: "Pretendard-Bold";}
.main .project .list li .txt .tit dd {font-size: 16rem; line-height: 150%; font-family: "Pretendard-Bold"; opacity: .5; transform: translateY(6rem);}
.main .project .list li .txt .desc {display: flex; justify-content: space-between;}
.main .project .list li .txt .desc p {font-size: 24rem; line-height: 150%; font-family: "Pretendard-Medium"; opacity: .5;}
.main .project .list li .txt .desc p + p {font-size: 20rem; line-height: 150%; font-family: "Pretendard-Medium"; opacity: .5;}
.main .project .txt-pack {text-align: right; position: absolute; transform: translateY(-50%); top: 50%; right: 80rem; width: 520rem;}
.main .project .txt-pack .p1 {width: 100rem; margin-left: auto; opacity: 0; transform: translateY(50rem);}
.main .project .txt-pack .p2 {font-size: 40rem; line-height: 150%; font-family: "Pretendard-Bold"; margin-bottom: 12rem; opacity: 0; transform: translateY(70rem);}
.main .project .txt-pack .p3 {font-size: 20rem; line-height: 150%; font-family: "Pretendard-Regular"; opacity: 0; transform: translateY(100rem);}

.main .contact {padding: 300rem 0; width: max-content; margin: 0 auto;}
.main .contact > div {position: relative;}
.main .contact .p1 {position: absolute; top: 50rem; width: 102rem;}
.main .contact .p2 {font-size: 160rem; font-family: "GoogleSansFlex_SemiBold", sans-serif; line-height: 150%; transition-delay: .2s;}
.main .contact .p2 a:hover {background: linear-gradient(90deg, #000, #666, #000); background-size: 200% 100%;-webkit-background-clip: text; -webkit-text-fill-color: transparent; animation: shine 1.2s linear infinite;}
@keyframes shine {
  0% { background-position: 0% 0; }
  100% { background-position: 200% 0; }
}
.main .contact .p3 {font-size: 24rem; line-height: 150%; font-family: "Pretendard-SemiBold"; margin-top: -20rem; transition-delay: .3s;}

.foot {width: 225rem; margin: 0 auto; padding-bottom: 20rem;}
.foot img {width: 100%;}

@media screen and (max-width: 1024px) {
	.header {display: flex; justify-content: space-between; width: calc(100% - 60rem); left: 30rem;}

	.main .intro .txt {font-size: 120rem; gap: 20rem;}
	.main .intro .txt div:last-of-type p {width: 500rem; height: 110rem;}
	.main .intro .txt div:last-of-type p span:last-of-type {width: 450rem; height: 100rem; display: block; background: url("../images/intro-obj1.svg") no-repeat; background-size: contain; position: absolute; bottom: 0; transform: translateY(-8rem) translateX(2rem);}
	.main .intro .ellipse-wrap {width: 900rem; height: 500rem;}

	.main .about {flex-direction: column; padding: 200rem 36rem; gap: 40rem;}
	.main .about .txt-pack {width: 100%;}
	.main .about .txt-pack .p2 {font-size: 40rem; line-height: 150%; font-family: "Pretendard-Bold"; margin-bottom: 12rem;}
	.main .about .txt-pack .p3 br {display: none;}
	.main .about .img {width: 460rem;}

	.main .project {gap: 60rem; flex-direction: column; height: auto; width: calc(100% - 72rem); margin: 0 auto;}
	.main .project .txt-pack {position: unset; transform: unset; text-align: left;}
	.main .project .txt-pack .p1 {margin-left: unset;}
	.main .project .txt-pack .p3 {font-size: 24rem; font-family: "Pretendard-Medium";}
	.main .project .txt-pack .p3 br {display: none;}
	.main .project .list {width: 100%; display: flex; flex-direction: column; gap: 40rem; margin-left: 0; padding-top: 0;}
	.main .project .list li:nth-of-type(even) {transform: translateY(100rem);}
	.main .project .list li a {width: 100%;}
	.main .project .list li .img {width: 100%;}

	.main .contact .p1 {top: 0;}
	.main .contact .p2 {font-size: 60rem;}
	.main .contact .p2 a {background: linear-gradient(90deg, #000, #666, #000); background-size: 200% 100%;-webkit-background-clip: text; -webkit-text-fill-color: transparent; animation: shine 1.2s linear infinite;}
	.main .contact .p3 {margin-top: 0;}
}


.sub {width: 100%; background: #F4F4F1;}
.sub .hero {width: 100%; height: 100vh; position: relative;}
.sub .hero .txt-box {position: absolute; left: 110rem; bottom: 90rem; display: flex; flex-direction: column; gap: 40rem; color: #fff;}
.sub .hero .txt-box .tit {opacity: 0; transform: translateY(100rem);}
.sub .hero .txt-box .tit a {display: flex; align-items: flex-end; gap: 16rem;}
.sub .hero .txt-box .tit span {font-size: 100rem; font-family: "Pretendard-Bold"; line-height: 120%; position: relative; position: relative;}
.sub .hero .txt-box .tit svg {transform: translateY(-16rem); width: 30rem;}
.sub .hero .txt-box .tit span::after {content: ""; position: absolute; left: 0; bottom: 10rem; width: 100%; height: 30rem; background: #fff; transform: scaleX(0); transform-origin: left; transition: transform 0.4s ease; opacity: 0.4;}
.sub .hero .txt-box .tit a:hover span::after {transform: scaleX(1);}
.sub .hero .txt-box .info {display: flex; flex-direction: column; gap: 10rem;}
.sub .hero .txt-box .info {opacity: 0; transform: translateY(100rem);}
.sub .hero .txt-box .info dl {display: flex; gap: 40rem; font-size: 30rem; font-family: "Pretendard-Medium"; line-height: 150%;}
.sub .hero .txt-box .info div {display: flex; flex-direction: column; font-size: 24rem; font-family: "Pretendard-Medium"; line-height: 150%;}

.sub .content {width: 840rem; margin: 0 auto; padding: 150rem 0; display: flex; flex-direction: column; gap: 80rem; align-items: center;}
.sub .content .desc {width: 100%; font-size: 20rem; font-family: "Pretendard-Medium"; line-height: 160%; text-align: center;}
.sub .content ul {width: 100%; display: flex; flex-direction: column; gap: 60rem;}
.sub .content ul li {display: flex; justify-content: center; gap: 60rem;}
.sub .content ul li div:first-of-type {width: 600rem;}
.sub .content ul li div + div {width: 160rem;}
.sub .content ul li div img {width: 100%; box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;}

.sub .hero .bg {position: relative;}
.sub .hero .bg::after {content: ""; width: 100%; height: 100%; display: block; background: rgba(0, 0, 0, 0.4); position: absolute; top: 0; left: 0;}
.sub .hero.miraeasset .bg {position: absolute; inset: 0; background: url("../images/project/hero-miraeasset.png") no-repeat; background-size: cover; background-position: center; transform: scale(1.2);}
.sub .hero.hillstate .bg {position: absolute; inset: 0; background: url("../images/project/hero-hillstate.png") no-repeat; background-size: cover; background-position: center; transform: scale(1.2);}
.sub .hero.hmgdx .bg {position: absolute; inset: 0; background: url("../images/project/hero-hmgdx.png") no-repeat; background-size: cover; background-position: center; transform: scale(1.2);}
.sub .hero.hyundai-ce .bg {position: absolute; inset: 0; background: url("../images/project/hero-hyundai-ce.png") no-repeat; background-size: cover; background-position: center; transform: scale(1.2);}
.sub .hero.glovis .bg {position: absolute; inset: 0; background: url("../images/project/hero-glovis.png") no-repeat; background-size: cover; background-position: center; transform: scale(1.2);}
.sub .hero.glovis .bg::after {display: none;}
.sub .hero.ehyundai .bg {position: absolute; inset: 0; background: url("../images/project/hero-ehyundai.png") no-repeat; background-size: cover; background-position: center; transform: scale(1.2);}
.sub .hero.yungjin .bg {position: absolute; inset: 0; background: url("../images/project/hero-yungjin.png") no-repeat; background-size: cover; background-position: center; transform: scale(1.2);}


@media screen and (max-width: 1024px) {
	.sub .hero {height: 45vh;}
	.sub .hero .txt-box {left: 36rem; bottom: 60rem; gap: 24rem;}
	.sub .hero .txt-box .tit span {font-size: 42rem;}
	.sub .hero .txt-box .desc dl {font-size: 24rem;}
	.sub .hero .txt-box .desc div {font-size: 20rem;}
	.sub .hero .txt-box .info dl {flex-direction: column; gap: 0; font-size: 24rem;}
	.sub .hero .txt-box .tit {gap: 10rem;}
	.sub .hero .txt-box .tit svg {transform: translateY(-6rem); width: 24rem;}
	.sub .content {width: calc(100% - 72rem);}
	.sub .content ul li div:first-of-type {width: 400rem;}
	.sub .content ul li div + div {width: 100rem;}
}
